html{
    min-height: 100%;
    position: relative;
}

body {
    background: #d5c295; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #d5c295 , #604e2d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #d5c295 , #604e2d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Open Sans', sans-serif;
}

a:hover {
    text-decoration: none;
}
a:active, a:focus {
    color: #ccb67a;
    text-decoration: none;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border: 0px;
}
.text-title {
    font-size: 3em;
}

.text-description {
    font-size: 2em;
    margin: auto 0.35em;
}

.img-logo {
    max-width: 10em;
    margin: 2.5em auto;
}

.img-phone {
    max-width: 20em;
    margin: 2.5em auto;
}

.img-store {
    opacity: 0.8;
    max-width: 150px;
    margin: 2.5em auto;
}

.img-store:hover {
    opacity: 1;
}

.btn {
    margin: 0.2em auto;
}

.btn-privacy {
    background-color: transparent;
    border-color: #191919;
    color: #191919;
    width: 120px;
}

.btn:hover {
    background-color: #191919;
    border-color: #191919;
    color: #ccb67a;
}

.btn-social {
    background-color: transparent;
    border-color: #191919;
    color: #191919;
    width: 40px;
    margin: 2.5em auto;
}

.btn-social:hover {
    background-color: #191919;
    border-color: #191919;
    color: #ccb67a;
}

.panel-default {
    background: rgba(255, 255, 255, 0.5);
    border-color: #191919;
}

.panel-default .panel-heading {
    color: #aaaaaa;
    background-color: #191919;
}
@media (min-width: 768px) {
    .flex {
        display: flex;
    }
    .flex-row {
        display: flex;
        margin: auto;
    }
    .flex-column {
        flex: 1;
        margin: auto;
    }
}

.head {
    margin-top: 10em;
}
